.comment-wrapper {
    font-size: 12px;
    padding: 10px;
    margin: -15px 0 5px;
    border-radius: 4px;
    border: thin dotted;
    background-color: #ffffaa;
}

.author-box {
    color: #5c4a12;
    font-weight: bold;
}

.comment-box {
    border-top: thin dashed #ada396;
}
